body{
    background-color: #98FB98;
    margin: 0;
    height: 100vh;
}
.index-content{
    display: flex;
    height: 74%;
    width: 80%;
    margin-left: 10%;
    background: url("../images/drive.jpg") ;
}

.signup-login{
    width: 42%;
    height: auto;
    border: solid thin lightgreen;
    margin-top: 1px;
    background-color: white;
}
.signup-login>center {
    color: red!important;
}
.login{
     width: 30%;
     height: auto;
     border: solid thin lightgreen;
     margin-left: 35%;
     margin-top: 5%;
     background-color: white;
}


#login{
    height: 50%;
    width: 50%;
    padding: 10px 15px;
    margin-left: 28%;
    margin-top: 4%;
    margin-bottom: 5%;
    background-color: green;
    color: white;
}
#signup{
    width: 50%;
    padding: 10px 15px;
    margin-left: 28%;
    /*border-radius: 45px;*/
    margin-bottom: 10%;
    background-color: red;
    color: white;
}


#start-pub{
    font-size: medium;
    background-color: red;
    color: white;
    /*border-radius: 25px;*/
    padding: 12px 30px!important;
}

#form-head{

    display: inline-block;
    margin-top: 5px;
    margin-left: 20%;
}

h3,h2{
    color: green;
    float: right;
}
h4{
    color: black;
}
form{
    margin-top: 15px;
}
.login-index>form{
    margin-top: 50px;
}

#logo{
    height: 60px;
}

.signup-login input[type=text],input[type=email],input[type=password]{
    width: 70%;
    height: auto;
    padding: 10px 10px;
    margin-left: 10%;
    margin-bottom: 5px;
    color: green;
}


input[type=submit]{
    height: 50%;
    width: 30%;
    padding: 10px 15px;
    margin-left: 30%;
    margin-bottom: 10%;
    background-color: green;
    color: white;
}
label{
    padding: 10% 10%;
    margin-bottom: 5px;
}

.app-profile{

    display: inline-block;
    margin-left: 10%;
    float: left;
}

.menu .menu-list{
    float: left;
    background-color: inherit;
    width: inherit;
    height: inherit;
}

#menu-logo{
     height: 90px;
}

.menu{
    background-color: white;
}

.menu ul{
    margin-left: 30%;
    margin-top: 25px;
}
.menu ul li{
    display: inline-block;
    padding: 10px 25px;
    color: darkgreen;
}

.menu ul li a{
    text-decoration: none;
    color: darkgreen;
}
.menu ul li a:hover{

    color: red;
}

.create-ride{
    width: 40%;
    height: auto;
    border: solid thin lightgreen;
    margin-left: 35%;
    margin-top: 2%;
    background-color: white;
}

h4{
    color: green;
}

table{
    width: 85%;
    margin-top: 25px;
    margin-left: 10%;
    border-collapse: collapse;
    background-color: white;
}

th{
    background: linear-gradient(white, whitesmoke);
    color: darkgreen;
}
table, td, th {
    /*border: 1px solid #ddd;*/
    text-align: left;
}
th, td {
    padding: 15px;
    width: 20px;
}

.sub-menu{
    background-color: white;
    color: green;
    width: 80%;
    margin-top: 20px;
    margin-left: 10%;
    padding: 10px 35px;
    display: flex;
}


.sub-menu>a>button{
    width: 150px;
    height: 40px;
    font-size: large;
    color: white;
    margin-left: 85%;
    margin-top: 5px;
    /*border-radius: 50px;*/
    padding: 5px 10px;
    background-color: limegreen;

}
.clear{
    clear: both;
}
#accept{
    color: white;
    background-color: limegreen;
    /*border-radius: 25px;*/
    padding: 5px 15px;
}
#reject{
    background-color: red;
    color: white;
    /*border-radius: 25px;*/
    padding: 5px 15px;

}
#request{
    background-color: limegreen;
    /*border-radius: 25px;*/
    color: white;
    padding: 5px 15px;

}
#cancel{
    background-color: red;
    /*border-radius: 25px;*/
    color: white;
    padding: 5px 15px;

}

.show-ride{
    display: block!important;
}
.show-ride>h2{
    float: none;
}
.ride-details{
    padding: 3em 8em;
}
.buttons{
    margin-left: 40%;

}

.content-home{
    width: 85%;
    margin-left: 10%;
    margin-top: 2%;
}
.content-home div{
    display: inline-block;
}
.rides{
    background-color: white;
    height: auto;
    width: 75%;
    margin-left: 5%;
}
.rides th{
     background-color: limegreen;
    color: darkgreen;
    font-size: smaller;
}
.rides table{
    margin-left: 7%;
}
.rides table, td, th{
    /*border: 1px solid #ddd;*/

}

.all-rides{
    width: 295px;
    padding: 15px 20px;
    /*border-bottom: green solid;*/
    color: green;
}
.given{
    width: 295px;
    padding: 15px 20px;
    border-left: lightgrey solid thin;
    color: green;
}
.taken{
    width: 294px;
    padding: 15px 20px;
    border-left: lightgrey solid thin;
    color: green;
}


#all-rides{
    display: table;
}
#given{
    display: none;
}
#taken{
    display: none;
}



.freinds{
    background-color: white;
    height: auto;
    width: 20%;
    float: left;
}
#freind-header{
    width:auto;
    background: linear-gradient(whitesmoke, whitesmoke);
    height: 10%;
    margin-bottom: 5px;
}
#freind-header h5{
    float: none;
    color: green;
    padding: 0 15px;
}
.bottom-gif img{
    width: 100%;
    margin-top: 2px;
}

.user-profile{
    background-color: white;
    display: inline-block;
    color: green;
    width: 82%;
    margin-top: 20px;
    margin-left: 10%;
    padding: 5px 35px;
}
.user-profile strong{
    float: left;
    margin-top: 10px;
    margin-left: 20%;
    font-size: large;
}
.user-profile #avatar img{
    /*border-radius: 25px;*/
    height: 40px;
    margin-left: 10%;

}
.freind{
    display: inline-block;
    float: left;
    width: 100%;
    margin-top: 10px;
}

.freind label{
    padding: 0;
    margin-left: 5%;

}
#freind-avatar{
    /*border-radius: 25px;*/
    height: 50px;
    margin-left: 10%;
    float: left;
}
#rides-header{
    background: linear-gradient(white,whitesmoke);
    height: 20%;
    width: 100%;
}
#rides-header select{
    width: 100%;
    padding: 5px 20px;
    color: green;
    text-align: center;
    font-size:medium;
}

#total-header{
    width:100%;
    background: linear-gradient(whitesmoke, whitesmoke);
    height: 10%
}
#total-header h5{
    float: none;
    color: green;
    padding: 0 15px;
    font-size: 15px;
}

.card-given{
    width: 40%;
    margin-left: 30%;
    margin-top: 20px;
    padding: 5px 15px;
    background-color: limegreen;
    color: white;
    height: 100px;
}

.card-taken{
    width: 40%;
    height: 100px;
    margin-left: 30%;
    margin-top: 20px;
    background-color: red;
    margin-bottom: 50px;
    padding: 5px 15px;
    color: white;

}

.notification
{
    float: right;
    margin-right: 18%;
    margin-top: 5px;
}

.fa-bell{
    font-size: x-large!important;
}
.fa-circle{
    color: red;
    font-size: large;
}

#notification{
    display: none;
    position: absolute;
    width: 20%;
    /*height: 400px;*/
    margin-top: 45px;
    border: green solid thin ;
    background-color: white;
    margin-right: 5%;
}

#notification-head{
    width:100%;
    background: linear-gradient(whitesmoke, whitesmoke);
    height: 50px;
    color: green;
    padding: 0.001em;
}
#notification-head>h4{
    margin-left: 25%;
}

.notification-msg {
    font-size: medium;
    padding: 5px 10px;
    margin-top: 5%;
    margin-bottom: 3%;
}

.notification-msg>span>i{
    color: red;
}

.accepted-msg{
    color: green;
}

.rejected-msg{

    color: red;
}

.freinds>#freind-header{
    display: flex;
    border: lightgrey;

}
#hovered{
    width: 250px;
    padding: 15px 20px;
    border-bottom: green solid;
    color: green;
}
#accounts{
    width: 270px;
    padding: 15px 20px;
    color: green;
    border-left: lightgrey solid thin;
}
#freind-content{
    display: block;
}
#accounts-content{
    display: none;
}

.fa-user-plus{
    float: right;
    color: limegreen!important;
     margin-right: 15px;
    font-size: medium!important;

}
.fa-user-times{
    float: right;
    color: red!important;
    margin-right: 15px;
    font-size: medium!important;
}
.fa-user{
    font-size: large!important;
    color: green!important;
}

.table-footer{
    margin-left: 10%;
    width: 85%;
    height: 50px;
    background: whitesmoke;
}
#prev{
    color: red;
    float: left;
    margin-top: 12px;
    margin-left: 40px;
    background: linear-gradient(lightgrey,whitesmoke);
    padding: 5px 25px;


}
#next{color: green;
    float: right;
    margin-top: 12px;
    margin-right: 40px;
    padding: 5px 25px;
    background: linear-gradient(lightgrey,whitesmoke);
}

/*ADDING RESPONSIVNESS DUE TO DEVICE CHANGES*/

@media(max-width: 800px) {

    /*index page*/
    .menu ul {
        margin-left: 10%;
        margin-top: 5px;
    }

    .menu ul li {
        display: inline-block;
        padding: 5px 10px;
        color: darkgreen;
    }

    .signup-login {
        width: 80%;
        height: auto;
        border: solid thin lightgreen;
        margin-top: 5px;
        background-color: white;
        margin-left: 10%;
    }

    .index-content {
        display: flow-root;
        height: 100%;
        width: 80%;
        margin-left: 10%;
        background: url("../images/drive.jpg");
    }

    /*User profile page*/

    .content-home div {
	 display: inline-table;
}

    .user-profile {
        background-color: white;
        display: inline-block;
        color: green;
        width: 62%;
        margin-top: 20px;
        margin-left: 13%;
        padding: 5px 35px;
    }

    .user-profile strong {
	float: left;
	margin-top: 10px;
	 margin-left: 0;
	font-size: large;
}

    #notification {
	display: none;
	 position: relative;
	width: 120%;
	/* height: 400px; */
	margin-top: 45px;
	border: green solid thin;
	background-color: white;
	margin-right: 5%;
}

    .freinds {
	background-color: white;
	height: auto;
    width: 300px;
    margin-top: 20px;
	margin-left: 3%;
}

    .rides {
	background-color: white;
	height: auto;
	width: 90%;
	margin-left: 3%;
	margin-top: 40px;
}


    /*RIDE REQUEST LIST and RIDE OFFER LIST PAGES*/
.sub-menu {
	background-color: white;
	color: green;
	 width: auto;
	margin-top: 20px;
	 margin-left: 0;
	padding: 10px 35px;
	display: flex;
}

.sub-menu > a > button {
	width: 150px;
	height: 40px;
	font-size: large;
	color: white;
	float: right;
	margin-top: 5px;
	/*border-radius: 50px;*/
	padding: 5px 10px;
	background-color: limegreen;
}

table, td, th {
	border: 1px solid #ddd;
	text-align: left;
}

table {
	margin-top: 25px;
	margin-left: 4%;
	border-collapse: collapse;
	background-color: white;
}
.table-footer {
	 margin-left: 40px;
	 width: 85%;
	height: 50px;
	background: inherit;
}

th, td {
    padding: 14px;
    width: 20px;
}

#reject{
    padding: 5px 10px;
}

#accept{
    padding: 5px 10px;
}

/*Page for creating ride offers*/

.create-ride{
    width: 90%;
    height: auto;
    border: solid thin lightgreen;
    margin-left: 5%;
    margin-top: 5%;
    background-color: white;
}
label{
    padding: 0 3%;
}

#freind-header{
    width:auto;
    background: linear-gradient(whitesmoke, whitesmoke);
    height: 10%;
    margin-bottom: 5px;
}

#accounts{
    width: 165px;
}
#hovered{
    width: 180px;
}
#all-rides{

}
#given{

}
#taken{

}
}