body{
    background-color: #98FB98;
}
.signup-login{
    width: 30%;
    height: auto;
    border: solid thin lightgreen;
    margin-left: 35%;
    margin-top: 5%;
    background-color: white;
}

#form-head{

    display: inline-block;
    margin-top: 5px;
    margin-left: 20%;
}

h3,h2{
    color: green;
    float: right;
}
h4{
    color: black;
}
form{
    margin-top: 15px;
}

#logo{
    height: 60px;
}

.signup-login input[type=text],input[type=email]{
    width: 70%;
    height: auto;
    padding: 10px 10px;
    margin-left: 10%;
    margin-bottom: 5px;
}

input[type=submit]{
    height: 50%;
    width: 30%;
    padding: 10px 15px;
    margin-left: 30%;
    margin-bottom: 10px;
    border-radius: 45px;
    background-color: green;
    color: white;
}
label{
    padding: 10% 10%;
    margin-bottom: 5px;
}

.app-profile{

    display: inline-block;
    margin-left: 10%;
    float: left;
}

.menu .menu-list{
    float: left;
    background-color: inherit;
    width: inherit;
    height: inherit;
}

#menu-logo{
     height: 90px;
}

.menu{
    background-color: white;
}

.menu ul{
    margin-left: 30%;
    margin-top: 25px;
}
.menu ul li{
    display: inline-block;
    padding: 10px 25px;
    color: darkgreen;
}

.menu ul li a{
    text-decoration: none;
    color: darkgreen;
}
.menu ul li a:hover{

    color: red;
}

.create-ride{
    width: 40%;
    height: auto;
    border: solid thin lightgreen;
    margin-left: 35%;
    margin-top: 2%;
    background-color: white;
}

h4{
    color: green;
}

table{
    width: 85%;
    margin-top: 20px;
    margin-left: 10%;
    border-collapse: collapse;
    background-color: white;
}

th{
    background-color: lightgrey;
    color: darkgreen;
}
table, td, th {
    /*border: 1px solid #ddd;*/
    text-align: left;
}
th, td {
    padding: 15px;
    width: 20px;
}

.sub-menu{
    background-color: white;
    color: green;
    width: 80%;
    margin-top: 20px;
    margin-left: 10%;
    padding: 5px 35px;
}
.clear{
    clear: both;
}
#accept{
    color: white;
    background-color: green;
    padding: 5px 5px;
}
#reject{
    background-color: red;
    color: white;
    padding: 5px 5px;

}
#request{
    background-color: green;
    border-radius: 25px;
    color: white;
    padding: 5px 15px;

}
#cancel{
    background-color: red;
    border-radius: 25px;
    color: white;
    padding: 5px 15px;

}

.show-ride{
    width: 60%;
    height: auto;
    border: solid thin lightgreen;
    margin-left: 20%;
    margin-top: 8%;
    background-color: white;
}
.ride-details{
    padding: 3em 8em;
}
.buttons{
    margin-left: 40%;

}

.content-home{
    width: 85%;
    margin-left: 10%;
    margin-top: 2%;
}
.content-home div{
    display: inline-block;
}
.rides{
    background-color: white;
    height: auto;
    width: 40%;
    margin-left: 5%;
}
.rides th{
     background-color: limegreen;
    color: white;
    font-size: smaller;
}
.rides table{
    margin-left: 7%;
}
.rides table, td, th{
    /*border: 1px solid #ddd;*/

}
.totals{
    float: right;
    background-color: white;
    height: 50%;
    width: 30%;
    margin-left: 5%;
}
.freinds{
    background-color: white;
    height: auto;
    width: 20%;
    float: left;
}
#freind-header{
    width:100%;
    background-color: lightgrey;
    height: 10%;
}
#freind-header h5{
    float: none;
    color: green;
    padding: 0 15px;
}
.bottom-gif img{
    width: 100%;
    margin-top: 2px;
}

.user-profile{
    background-color: white;
    display: inline-block;
    color: green;
    width: 82%;
    margin-top: 20px;
    margin-left: 10%;
    padding: 5px 35px;
}
.user-profile strong{
    float: left;
    margin-top: 10px;
    margin-left: 20%;
    font-size: large;
}
.user-profile #avatar img{
    border-radius: 25px;
    height: 40px;
    margin-left: 10%;

}
.freind{
    display: inline-block;
    float: left;
    width: 100%;
    margin-top: 10px;
}

.freind label{
    padding: 0;
    margin-left: 5%;

}
#freind-avatar{
    border-radius: 25px;
    height: 50px;
    margin-left: 10%;
    float: left;
}
#rides-header{
    background-color: red;
    height: 20%;
    width: 100%;
}
#rides-header select{
    width: 100%;
    padding: 5px 20px;
    color: green;
    text-align: center;
    font-size:medium;
}

#total-header{
    width:100%;
    background-color: lightgrey;
    height: 10%;
}
#total-header h5{
    float: none;
    color: green;
    padding: 0 15px;
    font-size: 15px;
}

.card-given{
    width: 40%;
    margin-left: 30%;
    margin-top: 20px;
    padding: 5px 15px;
    background-color: limegreen;
    color: white;
    height: 100px;
}

.card-taken{
    width: 40%;
    height: 100px;
    margin-left: 30%;
    margin-top: 20px;
    background-color: red;
    margin-bottom: 50px;
    padding: 5px 15px;
    color: white;

}
